{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container-fluid border" >
    <div class="row align-items-center justify-content-center" style="height: 60vh;background-image: url({%static 'images/shoping_bag.jpg' %});background-position: bottom;background-size: cover;">
        <form class="d-flex col-4">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>    
    </div>
  </div>

  <div class="container-sm ">
    <div class="card mb-3 mt-5 " style="max-height: ;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{% static 'images/bag.jpg' %}" class="img-fluid " style="max-height: ;" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="">{{ house.title }}</a></h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <input type="button" class="btn btn-outline-success" value="Add to cart">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}